@model WebUI.Models.HomeIndexViewModel

<div class=row>
    <br />
    <br />
    <h3 style="position:relative; left:20px;">Sản Phẩm Mới</h3>
    <hr />
    @foreach (var sanpham in Model.Sanphams)
    {
        <div class="row">
            <div class="col-sx-12 col-sm-8" style="position:relative; left:40px;">
                <article class="artical_product">
                    <a href="#"
                       class="product">
                        <div class="artical_content">
                            <img id="img-product" src="@sanpham.HinhAnh" class="img-responsive" />
                        </div>
                    </a>
                </article>
            </div>
            <div class="col-sx-12 col-sm-4" style="position:relative; right:50px;">
                <h4>@sanpham.Ten</h4>
                <p>@sanpham.Gia 000 vnd</p>
            </div>

        </div>
        <hr />
    }
</div>

