
@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared1/_Layout.cshtml";
}


<div class="container" style="text-align:center;">
    <div class="btn btn-success">
        <h3>Xin Cám Ơn Quý Khách! </h3>
        <h3>Quý Khách Đã Đặt Hàng Thành Công</h3>
        <h3>Chúng Tôi Sẽ Liên Hệ Với Quý Khách Trong Thời Gian Sớm Nhất</h3>
    </div>
</div>
<hr />

