
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_NewLayout.cshtml";
}

<div class="container">
    <div class="row btn btn-success" style="position:relative; left:450px;">
        <h2 style="text-align:center;">Chào Mừng Bạn Đến Với Trang Admin</h2>
    </div>
</div>

