@model Domain.Concrete.TinTuc
@{
    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Views/Shared1/_Layout.cshtml";
}


<div class="row">
    <div class="large-left col-sm-11">
        <div class="row">
            <div id="center_column" class="center_column col-xs-12 col-sm-11 accordionBox">
                <div id="sdsblogArticle" class="blog-post">
                    <h1 class="title_block_exclusive">@Model.Ten</h1>              
                    <div itemprop="articleBody">                      
                        <div class="sdsarticle-des">
                            @Html.Raw(Model.NoiDungTinTuc)
                        </div>
                        <div class="sdstags-update">                         
                        </div>
                    </div>
                    <div class="sdsarticleBottom">
                        <div class="block-addthis">
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fccc98d09eb20ae"></script>
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_native_toolbox"></div>
                        </div>
                        <div id="articleRelated" class="block">                          
                        </div>
                    </div>
                </div>
            </div>

            <div id="left_column" class="column col-xs-12 col-sm-3">                           
            </div>
        </div>
    </div>
</div>
