@model List<Domain.Concrete.DanhMucSanPham>

@{int total = 0;
}
<ul class="nav nav-second-level">
    @foreach (var cate in Model)
    {
        <li>
            <a href="@Url.Action("Index","Product",new {category=cate.CategoryProductID})">
               @cate.Ten
                <span class="badge">
                    @{int count = cate.SanPhams.Count();
                        total += count;
                    }
                    @count
                </span>
            </a>
        </li>
    }
    <li>
        <a href="@Url.Action("Index","Product",new {category=0})">
            Tất Cả <span class="badge">@total</span>
        </a>
    </li>
</ul>
