@model Domain.Concrete.SanPham


<div class="col-sx-12 col-sm-2"  >
    <article class="article_product">
        <a href="#"
           class="product">
            <div class="article_content">
                <img class="img-responsive" src="@Model.HinhAnh" id="img-product"  />
                <h4>@Model.Ten</h4>
                <p>@Model.Gia 000 vnd</p>
            </div>
        </a>
    </article>
</div>
