@model  Domain.Concrete.TinTuc
@{
    ViewBag.Title = "ConfirmDelete";
    Layout = "~/Areas/Admin/Views/Shared/_NewLayout.cshtml";
}

<h2>Bạn Muốn Xóa Tin Tức Này</h2>

<div class="text-center">

    <h5>Bạn có chắc muốn xóa : @Model.Ten?</h5>
    <a href="@Url.Action("Delete","ManageNew",new {id=Model.NewCategoryID })" class="btn btn-default">Xóa</a>
    <a href="@Url.Action("Index")" class="btn btn-default">Không xóa</a>



</div>

